{#
# This file is part of MedShakeEHR.
#
# Copyright (c) 2020
# Bertrand Boutillier <b.boutillier@gmail.com>
# http://www.medshake.net
#
# MedShakeEHR is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
#
# MedShakeEHR is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
#/

/##
# Template > models4print : courrier de synthèse de fin de cure thermale
#
# @author 2020      DEMAREST   Maxime   <maxime@indelog.fr>
#}

{% set tag = page.courrier %}

<p style="text-align : right;">{{ tag.UtilisateurActif_villeAdressePro }}, le {{ tag.date|date("d/m/Y") }}</p>
<br><br><br>
Cher Confrère,
<br><br><br>
<h2>Résumé du dossier de {{ tag.identiteCompleteTitreLong }}</h2>

<h3>Données administratives</h3>
<ul>
  <li>Date de naissance : {{ tag.birthdate }}</li>
  <li>Adresse : {{ tag.streetNumber }} {{ tag.street }} {{ tag.postalCodePerso }} {{ tag.city }}</li>
</ul>

<h3>Données cliniques/biologiques actuelles et antécédents généraux</h3>
<ul>
  {% if tag.poids is not empty %}
  <li>Poids : {{ tag.poids }} kg</li>
  {% endif %}
  {% if tag.taillePatient is not empty %}
  <li>Taille : {{ tag.taillePatient }} cm</li>
  {% endif %}
  {% if tag.insuffisanceRenale is not empty %}
  <li>Insuffisance rénale  : {{ tag.insuffisanceRenale }}</li>
  {% endif %}
  {% if tag.creatinineMicroMolL is not empty %}
  <li>Clairance de la créatinine : {{ tag.creatinineMicroMolL }} µmol/L</li>
  {% endif %}
  {% if tag.insuffisanceHepatique is not empty %}
  <li>Insuffisance hépatique  : {{ tag.insuffisanceHepatique }}</li>
  {% endif %}
  {% if tag.grossesseActuelle == 'true' %}
  <li>Grossesse en cours</li>
  {% endif %}
  {% if tag.allaitementActuel == 'true' %}
  <li>Allaitement</li>
  {% endif %}
</ul>

{% if tag.allergies is not empty %}
<h3>Allergies</h3>
{{ tag.allergies|nl2br }}
{% endif %}

{% if tag.medtheAtcdPersoMedicaux is not empty %}
<h3>Antécédents médicaux</h3>
{{ tag.medtheAtcdPersoMedicaux|nl2br }}
{% endif %}

{% if tag.medtheAtcdPersoChirugicaux is not empty %}
<h3>Antécédents chirugicaux</h3>
{{ tag.medtheAtcdPersoChirugicaux|nl2br }}
{% endif %}

{% if tag.medtheAtcdPersoChirugicaux is not empty %}
<h3>Antécédents chirugicaux</h3>
{{ tag.medtheAtcdPersoChirugicaux|nl2br }}
{% endif %}

{% if tag.medtheAtcdTraitementChro is not empty %}
<h3>Traitement chronique</h3>
{{ tag.medtheAtcdTraitementChro|nl2br }}
{% endif %}

{% if tag.medtheAtcdDivers is not empty %}
<h3>Divers</h3>
{{ tag.medtheAtcdDivers|nl2br }}
{% endif %}
