{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2019
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > models4print : courrier de synthèse de fin de cure thermale
 #
 # @author           Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrb 2020      Maxime   DEMAREST   <maxime@indelog.fr>
 #}

{% set tag = page.courrier %}

<p style="text-align : right;">{{ tag.AuteurInitial_villeAdressePro }}, le {{ tag.date|date("d/m/Y") }}</p>

<h2 style="text-align : center">{{ tag.identiteUsuelleTitreCourtDdn }}</h2>

<h2 style="text-align : center">Cure du {{ tag.medtheCouMtDateDebut }} au {{ tag.medtheCouMtDateFin }}<br>
Orientation{% if ',' in tag.medtheCouMtOrientations %}s{% endif %} : {{ tag.medtheCouMtOrientations }}</h2>

<h3>Pathologies et algies :</h3>
<p>{{ tag.medtheCouMtPathoAlgies|nl2br }}</p>

<h3>Éléments cliniques</h3>

<p>
Taille : {{ tag.medtheCouMtTaille }} cm - Poids initial : {{ tag.medtheCouMtPoidsInitial }} kg - Poids final : {{ tag.medtheCouMtPoidsFinal }} kg - IMC Initial : {{ tag.medtheCouMtImcFinal }} kg/m² - IMC Final : {{ tag.medtheCouMtImcInitial }} kg/m²<br>
</p>

<p>
Tension artérielle : <br>
1° consultation : {{ tag.medtheCouMtTASC1 }}/{{ tag.medtheCouMtTADC1 }} mmHg<br>
2° consultation : {{ tag.medtheCouMtTASC2 }}/{{ tag.medtheCouMtTADC2 }} mmHg<br>
3° consultation : {{ tag.medtheCouMtTASC3 }}/{{ tag.medtheCouMtTADC3 }} mmHg
</p>

{% if tag.medtheCouMtCs1CircoMolletG > 0 or tag.medtheCouMtCs3CircoMolletG > 0 or tag.medtheCouMtCs1CircoMolletDt > 0 or tag.medtheCouMtCs3CircoMolletDt > 0 or tag.medtheCouMtCs1CircoChevilleG > 0 or  tag.medtheCouMtCs3CircoChevilleG > 0 or tag.medtheCouMtCs1CircoChevilleDt > 0 or tag.medtheCouMtCs3CircoChevilleDt > 0 %}

Circonférences aux membres inférieurs :
<table>
<tr><td>&nbsp;</td><td>Cheville D</td><td>Cheville G</td><td>Mollet D</td><td>Mollet G</td></tr>
<tr>
	<td>Début de cure</td>
    <td>{{ tag.medtheCouMtCs1CircoChevilleDt }} cm</td>
    <td>{{ tag.medtheCouMtCs1CircoChevilleG }} cm</td>
    <td>{{ tag.medtheCouMtCs1CircoMolletDt }} cm</td>
	<td>{{ tag.medtheCouMtCs1CircoMolletG }} cm</td>
</tr>
<tr>
	<td>Fin de cure</td>
    <td>{{ tag.medtheCouMtCs3CircoChevilleDt }} cm</td>
    <td>{{ tag.medtheCouMtCs3CircoChevilleG }} cm</td>
    <td>{{ tag.medtheCouMtCs3CircoMolletDt }} cm</td>
	<td>{{ tag.medtheCouMtCs3CircoMolletG }} cm</td>
</tr>
</table>
{% endif %}

<h3>Soins</h3>
<p>{{ tag.medtheCouMtSoins|nl2br }}</p>

<h3>Observations</h3>
<p>{{ tag.medtheCouMtObservation|nl2br }}</p>

{% if tag.medtheCouMtAvecDonneMedical  == "true" %}
  <h3>Antécédents généraux</h3>

  {% if tag.allergies is not empty %}
  <h4>Allegie</h4>
  <p>{{ tag.allergies }}</p>
  {% endif %}

  {% if tag.medtheAtcdPersoMedicaux is not empty %}
  <h4>Antécédents médicaux </h4>
  <p>{{ tag.medtheAtcdPersoMedicaux | nl2br }}</p>
  {% endif %}

  {% if tag.medtheAtcdPersoChirugicaux is not empty %}
  <h4>Antécédents chirugicaux </h4>
  <p>{{ tag.medtheAtcdPersoChirugicaux | nl2br }}</p>
  {% endif %}

  {% if tag.medtheAtcdTraitementChro is not empty %}
  <h4>Traitement chronique</h4>
  <p>{{ tag.medtheAtcdTraitementChro | nl2br }}</p>
  {% endif %}

  {% if tag.medtheAtcdDivers is not empty %}
  <h4>Divers</h4>
  <p>{{ tag.medtheAtcdDivers }}</p>
  {% endif %}

  {% if tag.insuffisanceRenale is not empty %}
    <h4>Insuffisance rénale</h4>
    <p>{{ tag.insuffisanceRenale }}</p>
  {% endif %}

  {% if tag.creatinineMicroMolL is not empty %}
  <h4>Créatinine </h4>
  <p>{{ tag.creatinineMicroMolL }} µmol/L</p>
  {% endif %}

  {% if tag.insuffisanceHepatique is not empty %}
  <h4>Insuffisance hépatique </h4>
  <p>{{ tag.insuffisanceHepatique }}</p>
  {% endif %}

  {% if tag.grossesseActuelle == 'true' or tag.allaitementActuel == 'true' %}
  <h4>Autres</h4>
  <ul>
    {% if tag.grossesseActuelle == 'true' %}
      <li>Grossesse en cours</li>
    {% endif %}
    {% if tag.allaitementActuel == 'true' %}
      <li>Allaitement</li>
    {% endif %}
  </ul>
  {% endif %}
{% endif %}

{% if tag.medtheCouMtAvecCsAutres == "true" %}
  <h3>Consultation autres durant la cure</h3>
  {{ tag.medtheCouMtResumCsAut }}
{% endif %}
